* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.menu-logo {
    width: 100px;
}

.b1 {
    font-size: 20px;
}

.descrição {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 30px;
}

h2 {
    margin-left: 30px;
    font-size: 34px;
}

h4 {
    margin-left: 30px;
    font-size: 20px;
}

p {
    margin-left: 30px;
    font-size: 16px;
}

.section-um {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.hellen-foto {
    width: 400px;
    border-radius: 200px;
    margin-right: 30px;
}