* {
    margin: 0;
    padding: 0;
}

header {
    display:  flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
}

/* Menu Esquerdo */

.left-header {
    display: flex;
    align-items: center;
    margin-left: 30px;
    gap: 7px;
}

.menu-burguer {
    width: 30px;
}

.menu-logo {
    width: 50px;
}

/* Menu Central */

.center-header {
    display: flex;
    align-items: center;
    gap: 7px;
}

.menu-pesquisar {
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
}

/* Menu Direito */

.right-header {
    display: flex;
    align-items: center;
    margin-right: 30px;
    gap: 7px;
}

.menu-foto {
    width: 50px;
    border-radius: 32px;
}

/* Menu Navegação */

main {
    display: flex;
    flex-direction: column;
}

.left-main {
    margin-left: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 5px;
}

.left-social {
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h4 {
    margin-top: 15px;
}
