* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.link-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar-header {
    width: 100px;
    margin-top: 60px;
    border-radius: 700px;
}

.link-top h4 {
    margin-top: 20px;
    font-size: 22px;
}

.link-top p {
    margin-top: 10px;
    font-size: 18px;
    max-width: 550px;
    text-align: center;
}

.link-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}

.face, .insta, .twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    width: 620px;
    height: 55px;
    border: none;
    border-radius: 15px;
    background-color: rgba(1, 14, 12, 0.808);
    color: aliceblue;
}

.face:hover {
    width: 630px;
    font-size: 14px;
}

.insta:hover {
    width: 630px;
    font-size: 14px;
}

.twitter:hover {
    width: 630px;
    font-size: 14px;
}

.linktree-logo {
    margin-top: 40px;
    width: 100px;
}

.link-foot {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
    font-size: 9px;
    margin-left: 15px;
    margin-bottom: 15px;
}